
<div class="card-item col">
  <!-- {%- if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
  {%- endif -%} -->
    <div class="card">


  <!-- _________________right image_________________________________ -->

  {%- if project.direction -%}
      <div class="row g-0">

        <div class="card-body col-md-9">
          <h3 class="card-title font-weight-bold">{{project.title}}</h3>
          
          <h4 class="card-subtitle" markdown = "1">Guide: *[{{project.advisor}}]({{project.advisor_link}})*</h4>
          
          <div class="links">
            {%- if project.github %}
              <a href="{{ project.github }}" class="bibtex btn btn-sm z-depth-0" role="button">GitHub</a>
            {%- endif %}
            {%- if project.report %}
              <a href="{{ project.report }}" class="btn btn-sm z-depth-0" role="button">Report</a>
            {%- endif %}
            {%- if project.blog %}
              <a href="{{ project.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
            {%- endif %}
            {%- if project.slides %}
              <a href="{{ project.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- endif %}
            {%- if project.talk %}
              <a href="{{ project.talk }}" class="btn btn-sm z-depth-0" role="button">Talk</a>
            {%- endif %}
            </div>
       
          <p class="card-text">{{ project.summary }}</p>
           </div>
        
        {%- if project.img -%}
        <div class="card-img col-md-3">
          {% include figure.html path=project.img alt="project thumbnail" %}
        </div>
        <div class="col-md-9">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
      </div>
    </div> 
 
  </div>
  
  

  <!-- _________________left image_________________________________ -->
  {%- else -%}
      <div class="row g-0">

        {%- if project.img -%}
          <div class="card-img col-md-3 rounded">
            {% include figure.html path=project.img alt="project thumbnail" %}
          </div>
          <div class="col-md-9">
          {%- else -%}
          <div class="col-md-12">
          {%- endif -%}
          
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{project.title}}</h3>
            <h4 class="card-subtitle" markdown = "1">Guide: *[{{project.advisor}}]({{project.advisor_link}})*</h4>
            <div class="links">
              {%- if project.github %}
                <a href="{{ project.github }}" class="bibtex btn btn-sm z-depth-0" role="button">GitHub</a>
              {%- endif %}
              {%- if project.report %}
                <a href="{{ project.report }}" class="btn btn-sm z-depth-0" role="button">Report</a>
              {%- endif %}
              
              {%- if project.blog %}
                <a href="{{ project.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
              {%- endif %}
              {%- if project.slides %}
                <a href="{{ project.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
              {%- endif %}
              {%- if project.talk %}
                <a href="{{ project.talk }}" class="btn btn-sm z-depth-0" role="button">Talk</a>
              {%- endif %}
              </div>
            <p class="card-text">{{ project.summary }}</p>
            
          
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
</div>

